<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Cloud">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>{{ title }} - SCD Cloud</title>
    <link rel="shortcut icon" href="/assets/images/favicon.png?2" sizes="16x16 24x24 32x32 64x64">
    <link rel="stylesheet" href="/assets/components/bootstrap/css/bootstrap-3.3.6.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="display:inline-block;width:180px;font-variant:small-caps">
                    <img src="/assets/images/logo.png" id="logo" style="height:25px;display:inline-block;margin-top:-5px" /> scd cloud
                </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li{{ ' class="active"' if title == 'Home' }}><a href="/">Home</a></li>
                    <li{{ ' class="active"' if title == 'Terms of Service' }}><a href="/tos">Terms</a></li>
                    <li{{ ' class="active"' if title == 'Service-level Agreement' }}><a href="/sla">SLA</a></li>
                    <li{{ ' class="active"' if title == 'Machine FAQ' }}><a href="/faq">FAQs</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="logouttoolbar {{ 'active' if title == 'Machines' }}"><a href="/machines">My Machines</a></li>
                    <li class="logouttoolbar {{ 'active' if title == 'Machine History' }}"><a href="/machines/history">History</a></li>
                    <li class="logouttoolbar dropdown" style="display:none">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <span class="glyphicon glyphicon-user"></span>
                            <span id="user" style="padding:0 15px"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="min-width:0px !important;width:100%">
                            <script src="/assets/js/machines/listprojects.js"></script>
                            <li><a href="/machines/ssh">SSH Key</a></li>
                            <li><a href="#" id="logout" style="">Logout</a></li>
                        </ul>
                    </li>
                    <li class="logintoolbar" style="display:none">
                        <a href="/login">
                            <span class="glyphicon glyphicon-log-in"></span>
                            <span style="padding:0 15px">Login</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <span id="site-messages"></span>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div id="footer-bottom" class="text-center">
            &copy; Copyright STFC 2016 &nbsp; | &nbsp;<a href="/tos">Terms of Service</a>&nbsp; | &nbsp;<a href="/sla">Service-level Agreement</a>&nbsp; | &nbsp;<a href="/faq">Frequently Asked Questions</a>&nbsp; | &nbsp;<a href="https://github.com/stfc/cloud">GitHub</a>&nbsp; | &nbsp;<a href="https://github.com/stfc/cloud/issues">Issue Tracker</a>
        </div>
    </footer>
    <script src="/assets/components/jquery/jquery-2.2.0.min.js"></script>
    <script src="/assets/components/jquery/js.cookie-2.1.0.js"></script>
    <script src="/assets/components/bootstrap/js/bootstrap-3.3.6.min.js"></script>
    <script src="/assets/js/menu.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
