<div class="modal fade" id="createvmdialog" tabindex="-1" role="dialog" aria-labelledby="createvmdialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><button type="button" class="btn btn-blue btn-xs"><img src="/assets/images/icon-vm.png" style="width:14px;margin-top:-1px" /></button>&nbsp;&nbsp;Create Machine</h4>
            </div>
            <div class="modal-body">
                <div id="main-creation-error" class="creation-error alert alert-danger text-center" class="alert alert-danger text-center" role="alert"></div>
                <form id="createvm" class="form-horizontal" role="form" action="/">
                    {% include "machines/manage/create/pick-name.html" %}
                    <br>
                    {% include "machines/manage/create/pick-template.html" %}
                    <br>
                    {% include "machines/manage/create/pick-resources.html" %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="create-btn" type="button" class="btn btn-blue" onclick="">Create</button>
            </div>
        </div>
    </div>
</div>
