<div class="modal fade" id="createvmdialog" tabindex="-1" role="dialog" aria-labelledby="createvmdialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><button type="button" class="btn btn-blue btn-xs"><img src="/assets/images/icon-vm.png" style="width:14px;margin-top:-1px" /></button>&nbsp;&nbsp;Create Machine</h4>
            </div>
            <div class="modal-body">
                <div id="vm-error" class="alert alert-danger text-center" role="alert" style="display:none">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span id="vm-errormessage"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form id="createvm" class="form-horizontal" role="form" action="/">
                    {% include "machines/create/pick_vm_name.html" %}
                    <br>
                    {% include "machines/create/pick_template.html" %}
                    <br>
                    <fieldset id="no-resources" class="">
                        <legend>Resources</legend>
                        <div class="alert alert-danger" role="alert"><p>You do not have the resources to create a new VM. Please delete uneeded ones or contact us at <a href="mailto:{{ email }}">{{ email }}</a> to discuss your quota.</p></div>
                    </fieldset>
                    <fieldset id="resources">
                        <legend>Resources</legend>
                        <div class="form-group">
                            <label for="cpu-input" class="col-sm-3 control-label">Template CPU</label>
                            <div class="col-sm-8">
                                <div class="rs-slider">
                                    <span id="cpu-min" class="pull-left">?</span>
                                    <span id="cpu-max" class="pull-right">?</span>
                                    <input for="cpuOutput" oninput="cpuOutput.value=cpuInput.value" id="cpu-input" type="range" min="1" max="5" name="cpuInput" />
                                </div>
                                <input oninput="cpuInput.value=cpuOutput.value"
                                id="cpu-output" class="rs-output" type="text" name="cpuOutput"
                                for="cpuInput" oninput="cpuInput.value=cpuOutput.value" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="memory-input" class="col-sm-3 control-label">Template Memory</label>
                            <div class="col-sm-8">
                                <div class="rs-slider">
                                    <span id="mem-min" class="pull-left">?</span>
                                    <span id="mem-max" class="pull-right">?</span>
                                    <input for="memOutput" oninput="memOutput.value=memInput.value"
                                    id="memory-input" type="range" min="0.5" max="0.5" step="0.5" name="memInput" />
                                </div>
                                <input oninput="memInput.value=memOutput.value"
                                id="memory-output" class="rs-output" type="text" name="memOutput"
                                for="memInput" oninput="memInput.value=memOutput.value" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="create-btn" type="button" class="btn btn-blue" onclick="">Create</button>
            </div>
        </div>
    </div>
</div>
