/*================================
GLOBAL SETTINGS
================================*/
html {
  position: relative;
  min-height: 100%;
}

body {
  color: #5a5a5a;
  margin-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #333;
}

#footer-bottom {
  color: #939393;
  padding: 30px 0;
}
#footer-bottom a {
  color: #dddddd;
}

@media (min-width: 768px) {
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
}

h1 {
  font-size: 50px;
}

a:focus, a:active {
  outline: 0;
}

.form-control:focus {
  border-color: #004d8d;
  outline: 0px none;
  box-shadow: none;
}

.page-header {
  padding-bottom: 9px;
  margin: 00px 0px 20px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.alert-danger {
  color: #ffffff;
  border: none;
  background: #9f0000;
}

.alert.global-alert {
    border-radius: 0;
}

.global-alert {
    padding-left: 10%;
    padding-right: 10%;
}

.global-alert h4, .global-alert p {
    text-align: center;
}

.global-alert .close {
    margin-left: -70px;
}

.global-alert .text {
    font-size: 14px;
    text-shadow: none;
}

.global-alert .signature {
    float: right;
}

/*================================
NAVBAR & LOGO
================================*/
/* === Logo === */
.navbar-custom .navbar-brand {
  color: #ffffff;
  font-size:20px;
}

/* === Navbar === */
.navbar-custom {
  background-color: #00418d;
  border-color: #002742;
  background-image: linear-gradient(to bottom, #004d8d 0%, #00418d 100%);
}

.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #002742;
}

.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #002742;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  background-image: linear-gradient(to bottom, #00418d 0%, #004d8d 100%);
}

.navbar-custom .navbar-nav .open > a,
.navbar-custom .navbar-nav .open > a:focus,
.navbar-custom .navbar-nav .open > a:hover {
  border-color: #002742;
}

/*================================
BUTTONS
================================*/
/* === Green === */
.btn-green {
  color: #fff;
  background-color: #1e8d00;
  border-color: #197400;
  background-image: linear-gradient(to bottom, #2a9a0d 0%, #1e8d00 100%);
  height: 52px;
}
.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  color: #fff;
  background-image: linear-gradient(to bottom, #1e8d00 0%, #2a9a0d 100%);
  border-color: #197400;
}

/* === Blue === */
.btn-blue {
  color: #fff;
  background-color: #00418d;
  border-color: #003574;
  background-image: linear-gradient(to bottom, #004d8d 0%, #00418d 100%);
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus,
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  color: #fff;
  background-image: linear-gradient(to bottom, #00418d 0%, #004d8d 100%);
  border-color: #003574;
}
