/* CREATE MACHINE BUTTONS */
.btn-lev1, .btn-lev2,
.btn-lev3, .btn-lev4 {
  color: #fff;
}
.btn-lev1:hover, .btn-lev2:hover,
.btn-lev3:hover, .btn-lev4:hover {
  color: #fff;
}
.btn-lev1 {
  background-color: #3771B5;
  border-color: #255287;
}
.btn-lev2 {
  background-color: #4E41BE;
  border-color: #372c99;
}
.btn-lev3 {
  background-color: #C83A01;
  border-color: #902e06;
}
.btn-lev4 {
  background-color: #01894F;
  border-color: #036038;
}
.btn-lev1:hover {
  background-color: #255287;
}
.btn-lev2:hover {
  background-color: #372c99;
}
.btn-lev3:hover {
  background-color: #902e06;
}
.btn-lev4:hover {
  background-color: #036038;
}




/* input forms */
.aq-form {
  width: 50%;
  float: left;
}
.aq-form.first {
  border-right: 1px solid #E5E5E5;
}
.aq-form .form-control, .aq-form label {
  width: 80%;
  margin: 0 10%;
  float: left;
}
.aq-form label {
  padding-top: 20px;
}



/* VM STATES */
progress {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: #ccc;
  width: 100px;
  height: 3px;
}
progress::-webkit-progress-bar {
  background: #ccc;
}

progress[value="1"]::-webkit-progress-value {
  background: #ef0a00;
}
progress[value="2"]::-webkit-progress-value {
  background: #ef8200;
}
progress[value="3"]::-webkit-progress-value {
  background: #efbe00;
}
progress[value="4"]::-webkit-progress-value {
  background: #24990b;
}

progress[value="1"]::-moz-progress-bar {
  background: #ef0a00;
}
progress[value="2"]::-moz-progress-bar {
  background: #ef8200;
}
progress[value="3"]::-moz-progress-bar {
  background: #efbe00;
}
progress[value="4"]::-moz-progress-bar {
  background: #24990b;
}

.status-label {
  color: #444444;
  font-size: 11px;
  font-weight: bold;
  width: 100px;
  text-align: center;
  display: block;
  margin-bottom: -10px;
}
.status-label-1 {color: #ef0a00;}
.status-label-2 {color: #ef8200;}
.status-label-3 {color: #efbe00;}
.status-label-4 {color: #24990b;}
.status-label-5 {color: #ffffff;background-color: #FF0000;}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  cursor: default;
  color: #fff;
  background-color: #00418d;
  border-color: #0b4282;
  background-image: linear-gradient(to bottom, #004d8d 0%, #00418d 100%);
}
.pagination > li > a, .pagination > li > span {
  color: #00418d;
}



/* RESOURCE SLIDERS */
.rs-output {
  width: 40px;
  height: 40px;
  text-align: center;
  float: right;
}

.rs-slider {
  width: 320px;
  float: left;
  color: #9e9e9e;
  font-size: small;
}

.panel-default .panel-heading {
  color: #fff;
  background-color: #00418d;
  border-color: #0b4282;
  background-image: linear-gradient(to bottom, #004d8d 0%, #00418d 100%);
}
.panel-body {
  padding-bottom: 30px;
}

.col-md-3 {
  padding: 0;
}
.col-md-4 {
  width: 33% !important;
  float: left;
}

.resource-header {
  text-align: center;
  padding-right: 10%;
}
.resource-text {
  text-align: center;
  padding-right: 10%;
  font-size: 14px;
}

.table-responsive {
  min-height: 322px;
}

.table-filters label {
  padding: 0 6px;
}

#vm-list_paginate, #vm-history_paginate {
  text-align: center;
  padding-right: 160px;
  padding-top: 8px;
  border-top: 1px solid #eee;
}

#vm-list_info, #vm-history_info {
  float: right;
  margin-top: -44px;
}

#vm-list_length, #vm-history_length {
  float: left;
  margin-top: 11px;
}

.bottom {
  margin-top: 20px;
}

#filter-button {
  float: right;
  height: 34px;
  width: 34px;
  margin-top: -42px;
}
#filter-button span {
  font-size: 20px;
  margin-left: -5px;
}

#vm-list_filter, #vm-history_filter {
  float: right;
  margin-top: -48px;
  margin-right: 40px;
}
#vm-list_filter input, #vm-history_filter input {
  height: 34px;
}
