{% extends "layout.html" %}
{% block title %}FAQs{% endblock %}
{% block content %}
{% set questions = [{
    'id': 'login',
    'q':  'How do I login?',
    'a':  'You can SSH into your machines with your federal credentials.
           e.g. <strong>ssh fed12345@vm20.nubes.stfc.ac.uk</strong>.
           You can also associate your SSH public key to your account for passwordless login.'
    },{
    'id': 'root',
    'q':  'Can I get root access?',
    'a':  'Yes, once you have logged in with your federal credentials you will have permission to use <strong>sudo</strong>.
           <p class="text-danger">
            NOTE: you must not change the root password or remove entires from the authorized_keys file for the root account.
            Please make sure you have read the <a href="/tos">Terms of Service</a>.
           </p>'
    },{
    'id': 'gui',
    'q':  'Can I get a GUI session?',
    'a':  'Click the <button type="button" class="btn btn-blue btn-xs">
           <img src="/assets/images/icon-display.png" style="width:14px;margin-top:-2px" /></button>
           button to get an interactive GUI session inside your browser.'
    },{
    'id': 'projects',
    'q':  'What are projects?',
    'a':  'Projects are groups that work together, every member of a project will be able to see all VMs in said project.
           Use the drop-down in the top right of the page to switch between projects.',
    },{
    'id': 'newprojects',
    'q':  'Can I create/join another project?',
    'a':  'Yes, if you would like to create/join another project email us at
           <a href="mailto:' + email + '">' + email + '</a>.',
    },{
    'id': 'rename',
    'q':  'Can I rename my VM?',
    'a':  'Yes, simply mouseover the VM name and click the 
           <span class=" btn btn-default btn-xs glyphicon glyphicon-pencil" style="vertical-align:middle;margin-top:-2px"></span>
           button that appears. It may take a few moments for the name to update on the machines page.',
    },{
    'id': 'flavors',
    'q':  'What are flavors?',
    'a':  'Flavors define the resources assigned to a VM when it is created.
           Once you have chosen a template, you will be prompted to choose a flavor from the drop-down.',
    },{
    'id': 'resources',
    'q':  'Can I increase the CPUs, RAM or Disk size?',
    'a':  'Currently we only provide a standard set of resources for each machine.
           If you would like to discuss increasing these values email us at
           <a href="mailto:' + email + '">' + email + '</a>.',
    },{
    'id': 'quota',
    'q':  'Can I increase my quota?',
    'a':  'Yes, if you would like your quota increased email us at
           <a href="mailto:' + email + '">' + email + '</a>.'
    },{
    'id': 'stopping',
    'q':  'What is the <span class="label label-warning">STOPPING</span> state?',
    'a':  'When a VM is deleted, a snapshop is taken an stored for a period of time.
           This is for reasons of security and traceability'
    },{
    'id': 'os',
    'q':  'Do you support other Linux variants/version?',
    'a':  'Yes, if you would like to discuss adding different images or versions to the cloud, email us at 
           <a href="mailto:' + email + '">' + email + '</a>.',
    },{
    'id': 'pakiti',
    'q':  'Why are Pakiti and rsyslog running on my VM?',
    'a':  'These services are used for monitoring and security.
           You must not stop or change the behaviour of either of these services.
           Please make sure you have read the <a href="/tos">Terms of Service</a>.'
    }] %}


<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">FAQ</h1>
        <ol>
        {% for item in questions %}
            <li><a href="#{{ item.id }}">{{ item.q }}</a></li>
        {% endfor %}
        </ol>

        {% for item in questions %}
                <br>
                <h3><a name="{{ item.id }}" href="#{{ item.id }}" class="faq">{{ item.q }}</a></h3>
                <p>
                    {{ item.a }}
                </p>
        {% endfor %}

    </div>
</div>
{% endblock %}