{% extends "base.html" %}
{% block title %}SLA{% endblock %}
{% block content %}
<p>The SCD Cloud is a service developed for use within Scientific Computing and the wider STFC for developing and supporting projects. SCD Cloud usage must comply with the <a href="https://cloud.stfc.ac.uk/tos">Terms of Service</a>. If you have any questions regarding the following, please contact <a href="mailto:cloud-support@gridpp.rl.ac.uk">cloud-support@gridpp.rl.ac.uk</a></p>
<p>By continuing to log in you accept the following Service Level for Virtual Machines (VMs):</p>
<ul>


    <li>Support</li>
    <ul>
        <li>Technical Support for the SCD Cloud is offered during working hours.</li>
        <li>Tickets will be responded to within 2 working days.</li>
        <li>Support for the end-users of services hosted on the SCD Cloud is not provided, this includes but is not limited to using the Operating System.</li>
    </ul>
    <br>
    <li>Availability</li>
    <ul>
        <li>We endeavour to minimize downtime of VMs however some is inevitable.</li>
        <li>Services built on the SCD Cloud where availability is important must be architected in such a way that they can tolerate VMs being unavailable.</li>
        <li>VMs are configured to update automatically although monthly reboots will be required.</li>
    </ul>
    <br>
    <li>Storage</li>
    <ul>
        <li>The storage underlying the SCD Cloud is resilient for the purposes of availability of VMs.</li>
        <li>VMs on the SCD Cloud should not be used as a persistent Datastore.</li>
        <li>If you require more security for your data then arrange to back up your VMs.</li>
    </ul>
    <br>
    <li>Maintenance</li>
    <ul>
        <li>We will endeavour to provide notification of scheduled downtimes of 2 working days.</li>
        <li>Regular maintenance will take place on Wednesday mornings between 10am and 12pm. The service should be considered at risk during this period.</li>
        <li>If a security patch requires it, you will normally be given 5 working days within which to reboot VMs, after which time a reboot will be forced.</li>
        <li>We reserve the right to reboot VMs without notice in order to preserve the integrity of the service.</li>
    </ul>
</ul>
{% endblock %}