<div class="modal fade" id="filtertabledialog" tabindex="-1" role="dialog" aria-labelledby="filtertabledialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Filter table</h4>
            </div>
            <div class="modal-body">
                <p>Seclect the columns you wish to see.</p>
                <div class="table-filters">
                    <label><input class="show-hide" data-column="0" type="checkbox" checked> VM Name</label>
                    <label><input class="show-hide" data-column="1" type="checkbox" checked> Hostname</label>
                    <label><input class="show-hide" data-column="2" type="checkbox" checked> Key Pair</label>
                    <label><input class="show-hide" data-column="3" type="checkbox" checked> State</label>
                    <label><input class="show-hide" data-column="4" type="checkbox" checked> Created</label>
                    <label><input class="show-hide" data-column="5" type="checkbox" checked> Type</label>
                    <label><input class="show-hide" data-column="6" type="checkbox" checked> Flavor</label>
                    <label><input class="show-hide" data-column="7" type="checkbox" checked> CPU</label>
                    <label><input class="show-hide" data-column="8" type="checkbox" checked> RAM</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
