{% set menufocus = "machines" %}
{% set title = "Machines" %}

{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" type="text/css" />
{% endblock %}

{% block javascript %}

<script>
var INCLUDE_URI = "/assets/js/machines/novnc/";
var WSHOSTNAME = "{{ wshostname }}";
var WSPORT = "{{ wsport }}";

$(function() {
    drawTable();
    quota.update();
    setInterval(function () {
        quota.update();
    }, 5000);
});

</script>
<script src="/assets/js/machines/novnc/util.js"></script>
<script src="/assets/js/machines/vnc.js"></script>

<script src="/assets/js/bootstrap-select.min.js"></script>
<script src="/assets/js/jquery.paging.min.js"></script>

<script src="/assets/js/machines/quota.js"></script>
<script src="/assets/js/machines/pagination.js"></script>
<script src="/assets/js/machines/create/pick_aquilon.js"></script>
<script src="/assets/js/machines/pickmachinetype.js"></script>
<script src="/assets/js/machines/createmachine.js"></script>
<script src="/assets/js/machines/listmachines.js"></script>
<script src="/assets/js/machines/deletemachine.js"></script>
<script src="/assets/js/machines/bootmachine.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    {% set submenufocus = "machines" %}
    {% include "machines/machinessubmenu.html" %}
    <div class="col-md-10">
        <h1 class="page-header">Machines</h1>
        <div id="error" class="alert alert-danger text-center" role="alert" style="display:none">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span id="errormessage"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <button type="button" class="btn btn-blue pull-right" onclick="createVMdialog()"><img src="/assets/images/icon-vm.png" style="width:14px;margin-top:-1px;" />&nbsp;&nbsp;Create Machine</button>

        <br /><br /><br />

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-3">Name</th>
                        <th class="col-sm-3">Hostname</th>
                        <th class="col-sm-2">State</th>
                        <th class="col-sm-2">Type</th>
                        <th class="col-sm-4">Created</th>
                        <th>CPU</th>
                        <th>RAM</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="vms">
                    <tr>
                        <td colspan="9" class="text-center"><br />It looks like you do not have any Virtual Machines. Why don't you create one?<br /><br /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align:center">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>

{% include "machines/create/create_window.html" %}

{% include "machines/delete/delete.html" %}

{% include "machines/novnc/novnc.html" %}

{% endblock %}
