{% set menufocus = "machines" %}
{% set title = "Machines" %}

{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/assets/components/bootstrap/css/bootstrap-select-1.9.4.min.css" type="text/css" />
<link rel="stylesheet" href="/assets/components/bootstrap/css/dataTables.bootstrap-1.10.10.min.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/machines/styles.css" type="text/css" />

{% endblock %}

{% block javascript %}

<script>
var INCLUDE_URI = "/assets/js/machines/novnc/";
var WSHOSTNAME = "{{ wshostname }}";
var WSPORT = "{{ wsport }}";
var EMAIL = "{{ email }}";
var CLOUDPLATFORM = "{{ cloudPlatform }}";

if (CLOUDPLATFORM == "opennebula") {
    $(function() {
        drawTable();
        quota.update();
        setInterval(function () {
            quota.update();
            drawTable();
        }, 60000);
    });
} else if (CLOUDPLATFORM == "openstack") {
    $(function() {
        getProjects();
        setInterval(function () {
            quota.update();
            drawTable(miscAction);
        }, 60000);
    });
}

</script>
<!-- Other -->
<script src="/assets/components/bootstrap/js/bootstrap-select-1.9.4.min.js"></script>
<script src="/assets/components/jquery/jquery.knob-1.2.11.min.js"></script>
<script src="/assets/components/jquery/moment.js"></script>
<!-- DataTables -->
<script src="/assets/components/jquery/jquery.dataTables-1.10.10.min.js"></script>
<script src="/assets/components/bootstrap/js/dataTables.bootstrap-1.10.10.min.js"></script>

<!-- Main -->
<script src="/assets/js/machines/{{ cloudPlatform }}/listprojects.js"></script>
<script src="/assets/js/machines/{{ cloudPlatform }}/quota.js"></script>
<script src="/assets/js/machines/{{ cloudPlatform }}/listmachines.js"></script>
<!-- novnc -->
<script src="/assets/js/machines/novnc/util.js"></script>
<script src="/assets/js/machines/{{ cloudPlatform }}/vnc.js"></script>

<!-- Manage -->
<script src="/assets/js/machines/manage/machine-boot.js"></script>
<script src="/assets/js/machines/{{ cloudPlatform }}/manage/machine-delete.js"></script>
<script src="/assets/js/machines/{{ cloudPlatform }}/manage/machine-create.js"></script>
<!-- Create VM -->
<script src="/assets/js/machines/{{ cloudPlatform }}/manage/create/pick-aquilon.js"></script>
<script src="/assets/js/machines/{{ cloudPlatform }}/manage/create/pick-template.js"></script>
<script src="/assets/js/machines/{{ cloudPlatform }}/manage/create/pick-resources.js"></script>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Machines
            <button type="button" class="btn btn-green pull-right" onclick="createVMdialog()"><span class="glyphicon glyphicon-plus" style="font-size:15px"></span>&nbsp;&nbsp;New Machine</button>
        </h1>
        <div id="error" class="alert alert-danger text-center" role="alert" style="display:none">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span id="errormessage"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
       
        <div>
            Current Project:
            <select id="projectChoice" class="btn btn-default btn-xs" onchange="makeAjaxCalls()"></select>
            <span id="loadingStatus"></span>
        </div>

        <button type="button" class="btn btn-default" id="filter-button" title="Table Filters" onclick="filterTableDialog()"><span class="glyphicon glyphicon-cog"></span></button>
        <div class="tab-content">
            <div class="tab-pane active">
                <table id="vm-list" class="table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            {% include "machines/%s/columntitles.html" % cloudPlatform %}
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
    {% include "machines/%s/resources.html" % cloudPlatform %}
</div>
{% include "machines/%s/filters.html" %cloudPlatform %}

{% include "machines/manage/create/index.html" %}

{% include "machines/manage/machine-delete.html" %}

{% include "machines/novnc/novnc.html" %}

{% endblock %}
