{% set menufocus = "machines" %}
{% set title = "Machines" %}

{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" type="text/css" />
{% endblock %}

{% block javascript %}

<script>
var INCLUDE_URI = "/assets/js/machines/novnc/";
var WSHOSTNAME = "{{ wshostname }}";
var WSPORT = "{{ wsport }}";

$(function() {
    drawTable();
    quota.update();
    setInterval(function () {
        quota.update();
    }, 5000);
});

</script>
<script src="/assets/js/machines/novnc/util.js"></script>
<script src="/assets/js/machines/vnc.js"></script>

<script src="/assets/js/bootstrap-select.min.js"></script>
<script src="/assets/js/jquery.paging.min.js"></script>

<script src="/assets/js/machines/quota.js"></script>
<script src="/assets/js/machines/pagination.js"></script>
<script src="/assets/js/machines/pickmachinetype.js"></script>
<script src="/assets/js/machines/createmachine.js"></script>
<script src="/assets/js/machines/listmachines.js"></script>
<script src="/assets/js/machines/deletemachine.js"></script>
<script src="/assets/js/machines/bootmachine.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    {% set submenufocus = "machines" %}
    {% include "machines/machinessubmenu.html" %}
    <div class="col-md-10">
        <h1 class="page-header">Machines</h1>
        <div id="error" class="alert alert-danger text-center" role="alert" style="display:none">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span id="errormessage"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <button type="button" class="btn btn-blue pull-right" onclick="createVMdialog()"><img src="/assets/images/icon-vm.png" style="width:14px;margin-top:-1px;" />&nbsp;&nbsp;Create Machine</button>

        <br /><br /><br />

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-3">Name</th>
                        <th class="col-sm-3">Hostname</th>
                        <th class="col-sm-2">State</th>
                        <th class="col-sm-2">Type</th>
                        <th class="col-sm-4">Created</th>
                        <th>CPU</th>
                        <th>RAM</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="vms">
                    <tr>
                        <td colspan="9" class="text-center"><br />It looks like you do not have any Virtual Machines. Why don't you create one?<br /><br /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align:center">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>


<div class="modal fade" id="createvmdialog" tabindex="-1" role="dialog" aria-labelledby="createvmdialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><button type="button" class="btn btn-blue btn-xs"><img src="/assets/images/icon-vm.png" style="width:14px;margin-top:-1px" /></button>&nbsp;&nbsp;Create Machine</h4>
            </div>
            <div class="modal-body">
                <div id="vm-error" class="alert alert-danger text-center" role="alert" style="display:none">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span id="vm-errormessage"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form id="createvm" class="form-horizontal" role="form" action="/">
                    <fieldset>
                        <legend>Name Your Machine</legend>
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" id="name" name="name" class="form-control noEnterSubmit" data-type="text" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" title="Generate random name" onclick="randomname()">
                                            <img src="/assets/images/icon-dice.png" style="width:16px;margin-top:-1px" />
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>Chose a Template</legend>
                        <div class="modal-body">
                            <div class="btn-group btn-group-justified" role="group" id="buttonbox"></div>
                            <div id="aq-form" class=""></div>
                        </div>
                        <div class="modal-footer">
                            <div class="container-fluid">
                                <div class="col-md-10 text-left" id="helpbox">
                                </div>
                                <div class="col-md-2" id="controlbox">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <br>
                    <fieldset id="no-resources" class="">
                        <legend>Resources</legend>
                        <div class="alert alert-danger" role="alert"><p>You do not have the resources to create a new VM. Please delete uneeded ones or contact us at <a href="mailto:{{ email }}">{{ email }}</a> to discuss your quota.</p></div>
                    </fieldset>
                    <fieldset id="resources">
                        <legend>Resources</legend>
                        <div class="form-group">
                            <label for="cpu-input" class="col-sm-3 control-label">Template CPU</label>
                            <div class="col-sm-8">
                                <div class="rs-slider">
                                    <span id="cpu-min" class="pull-left">?</span>
                                    <span id="cpu-max" class="pull-right">?</span>
                                    <input for="cpuOutput" oninput="cpuOutput.value=cpuInput.value" id="cpu-input" type="range" min="1" max="5" name="cpuInput" />
                                </div>
                                <input oninput="cpuInput.value=cpuOutput.value"
                                id="cpu-output" class="rs-output" type="text" name="cpuOutput"
                                for="cpuInput" oninput="cpuInput.value=cpuOutput.value" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="memory-input" class="col-sm-3 control-label">Template Memory</label>
                            <div class="col-sm-8">
                                <div class="rs-slider">
                                    <span id="mem-min" class="pull-left">?</span>
                                    <span id="mem-max" class="pull-right">?</span>
                                    <input for="memOutput" oninput="memOutput.value=memInput.value"
                                    id="memory-input" type="range" min="0.5" max="0.5" step="0.5" name="memInput" />
                                </div>
                                <input oninput="memInput.value=memOutput.value"
                                id="memory-output" class="rs-output" type="text" name="memOutput"
                                for="memInput" oninput="memInput.value=memOutput.value" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="create-btn" type="button" class="btn btn-blue" onclick="">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deletevmdialog" tabindex="-1" role="dialog" aria-labelledby="deletevmdialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" style="vertical-align:middle;margin-top:-2px"></span></button>&nbsp;&nbsp;Delete Machine</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to permanently delete this machine?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="confirmdelete" class="btn btn-blue" onclick="deleteVM()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="vncdialog" tabindex="-1" role="dialog" aria-labelledby="vncdialogLabel" aria-hidden="true" style="z-index:1000">
    <div class="modal-dialog" style="width:1124px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><button type="button" class="btn btn-blue btn-xs"><img src="/assets/images/icon-display.png" style="width:14px;margin-top:-2px"></button>&nbsp;&nbsp;<span id="vnc-title"></span></h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <div id="noVNC_screen">
                    <canvas id="noVNC_canvas" width="640px" height="20px" style="cursor:none">
                        Canvas not supported.
                    </canvas>
                    <div id="noVNC_status_bar" class="noVNC_status_bar" style="margin-top: 0px;">
                        <div id="noVNC_status" style="position: relative; height: auto;">Loading</div>
                        <div id="noVNC_buttons">
                            <input type=button value="Send CtrlAltDel" id="sendCtrlAltDelButton" >
                            <span id="noVNC_xvp_buttons"></span>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
{% endblock %}
