<div class="col-md-2 bs-docs-sidebar">
    <ul class="nav nav-stacked">
        <li{{ ' class="active"' if submenufocus == 'machines' }}><a href="/machines">Machines</a></li>
        <li{{ ' class="active"' if submenufocus == 'history' }}><a href="/machines/history">History</a></li>
        <li{{ ' class="active"' if submenufocus == 'ssh' }}><a href="/machines/ssh">SSH Key</a></li>
        <li{{ ' class="active"' if submenufocus == 'faq' }}><a href="/machines/faq">FAQ</a></li>
    </ul>
    {% if submenufocus == "machines" %}
    <br><br>
    <div id="stats">
        <div class="panel panel-info">
            <div class="panel-body">Useable Resources</div>
            <div id="useable-resources" class="panel-footer"></div>
        </div>
        <div class="panel panel-info">
            <div class="panel-body" data-toggle="collapse" data-target="#user-stats" aria-expanded="false" aria-controls="user-stats">User Stats <span class="pull-right glyphicon glyphicon-chevron-down"></span></div>
            <div id="user-stats" class="collapse panel-footer"></div>
        </div>
        <div class="panel panel-info">
            <div class="panel-body" data-toggle="collapse" data-target="#group-stats" aria-expanded="false" aria-controls="group-stats">Group Stats <span class="pull-right glyphicon glyphicon-chevron-down"></span></div>
            <div id="group-stats" class="collapse panel-footer"></div>
        </div>
    </div>
    {% endif %}
</div>
