<div id="resources" class="col-md-12 ">
<hr>
    <!-- Group -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Group Stats</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-4"><h4 class="resource-header">VMs</h4><input class="group-vm"></div>
                <div class="col-md-4"><h4 class="resource-header">CPU</h4><input class="group-cpu"></div>
                <div class="col-md-4"><h4 class="resource-header">RAM<span style="font-size:12px;color:#999">(GB)</span></h4><input class="group-mem"></div>
            </div>
        </div>
    </div>
</div>
