<div class="col-md-12 ">
<hr>
    <!-- Available -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available Resources</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-3"><h4 class="text-center">VMs</h4><input type="text" class="available-vm"></div>
                <div class="col-md-3"><h4 class="text-center">CPU</h4><input type="text" class="available-cpu"></div>
                <div class="col-md-3"><h4 class="text-center">RAM</h4><input type="text" class="available-mem"></div>
                <div class="col-md-3"><h4 class="text-center">Disk</h4><input type="text" class="available-sys"></div>
            </div>
        </div>
    </div>
    <!-- User -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User Stats</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-3"><h4 class="text-center">VMs</h4><input type="text" class="user-vm"></div>
                <div class="col-md-3"><h4 class="text-center">CPU</h4><input type="text" class="user-cpu"></div>
                <div class="col-md-3"><h4 class="text-center">RAM</h4><input type="text" class="user-mem"></div>
                <div class="col-md-3"><h4 class="text-center">Disk</h4><input type="text" class="user-sys"></div>
            </div>
        </div>
    </div>
    <!-- Group -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Group Stats</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-3"><h4 class="text-center">VMs</h4><input type="text" class="group-vm"></div>
                <div class="col-md-3"><h4 class="text-center">CPU</h4><input type="text" class="group-cpu"></div>
                <div class="col-md-3"><h4 class="text-center">RAM</h4><input type="text" class="group-mem"></div>
                <div class="col-md-3"><h4 class="text-center">Disk</h4><input type="text" class="group-sys"></div>
            </div>
        </div>
    </div>
</div>
