<div class="modal fade" id="deletevmdialog" tabindex="-1" role="dialog" aria-labelledby="deletevmdialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" style="vertical-align:middle;margin-top:-2px"></span></button>&nbsp;&nbsp;Delete Machine</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to permanently delete <strong><span id="name-to-del"></span></strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="confirmdelete" class="btn btn-blue" onclick="deleteVM()">Yes</button>
            </div>
        </div>
    </div>
</div>
