<div class="modal fade" id="renamedialog" tabindex="-1" role="dialog" aria-labelledby="renamedialogLabel" aria-hidden="true">
    <div id="renamedialog-box" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                <button type="button" class="btn btn-blue btn-xs"><img src="/assets/images/icon-display.png" style="width:14px;margin-top:-2px"></button>
                <span style="vertical-align: middle;">Rename Machine</span></h4>
            </div>
            <div class="modal-body" style="text-align:center; margin-bottom:18px;">

            {% import "machines/manage/create/pick-name.html" as renameHTML %}
            {{ renameHTML | replace('="name','="rename') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="rename-btn" type="button" class="btn btn-blue">Rename</button>
            </div>
        </div>
    </div>
</div>
